:root {
    --primary: burlywood;
    --accent: cadetblue;
}

.items {
    list-style: none;
    display: flex;
}

.item {
    margin: 0.25rem;
    display: block;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--primary);
}

.icon {}

.item:hover {
    background-color: var(--accent);
}